with dees as (select * from (
SELECT  [WLDOCO]
      ,[WLDCTO]
      ,[WLTRT]
      ,[WLKIT]
      ,[WLKITL]
      ,[WLKITA]
      ,[WLMMCU]
      ,[WLMCU]
      ,[WLDSC1]
      ,[WLOPSQ]
      ,[WLOPST]
      ,[WLTIMB]
      ,[WLAN8]
      ,[WLTRDJ]
      ,[WLDRQJ]
      ,[WLSTRT]
      ,[WLSTRX]
      ,[WLSETC]
      ,[WLRUNM]
      ,[WLRUNL]
      ,[WLSETL]
      ,[WLLABA]
      ,[WLMACA]
      ,[WLUORG]
      ,[WLSOQS]
      ,[WLSOCN]
      ,[WLUOM]
      ,[WLDCT]
   ,count(*) as cnt
   ,max(wlupmj) as lastup
  FROM [PSG_Hub].[dbo].[F3112_WorkOrderRouting]
  group by 
  [WLDOCO]
      ,[WLDCTO]
      ,[WLTRT]
      ,[WLKIT]
      ,[WLKITL]
      ,[WLKITA]
      ,[WLMMCU]
      ,[WLMCU]
      ,[WLDSC1]
      ,[WLOPSQ]
      ,[WLOPST]
      ,[WLTIMB]
      ,[WLAN8]
      ,[WLTRDJ]
      ,[WLDRQJ]
      ,[WLSTRT]
      ,[WLSTRX]
      ,[WLSETC]
      ,[WLRUNM]
      ,[WLRUNL]
      ,[WLSETL]
      ,[WLLABA]
      ,[WLMACA]
      ,[WLUORG]
      ,[WLSOQS]
      ,[WLSOCN]
      ,[WLUOM]
      ,[WLDCT]
	  ) x where x.cnt>1)
	  select * from dees order by cnt desc

